body{
    height:100%;
    width:100%;    
    position:absolute;
}

.flex-container{
    display:flex;
    flex-wrap: wrap;
      position:absolute;
}

.flex-right-wrapper{
    flex:1 0 3%;
}

.flex-middle-wrapper{
    flex:0 0 70%;
}

.flex-left-wrapper{
    flex:1 0 15%;
    border-right:1.8px solid #dae9e4;
}


.flex-item{
    display:flex;
    flex-wrap:wrap;
    padding:1rem;
}


.ngx-pagination{
    margin:1rem;
    text-align: center;
}

.add-post{
    margin-top: 2rem;
    text-align: center;
    color:#006a4e;
}

.logo{
    height: 3.7rem;
}

