/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18 Nov, 2018, 1:47:24 PM
    Author     : deepika
*/

.navbar-expand-lg .navbar-nav .nav-link{
    padding-right: 3.5rem;
    padding-left: 3rem;
}

.navbar-default{
    background-color: 	#2b4251;
    color:#dae9e4;
}

.nav-link,.navbar-brand{
    color:#dae9e4;
}

.nav-link:focus,.nav-link:hover{
    color:#8bcbc8;
}

.flex-container{
    display:flex;
    flex-wrap: wrap;
}

.flex-right-wrapper{
    flex:1 0 10%;


}

.flex-middle-wrapper{
    flex:2 0 65%;
}

.flex-left-wrapper{
    flex:1 0 25%;
    border-right:2px solid #cecece;
}

flex-item{
    flex:2 0 0;

}

.list-group{
    margin-top: 1rem;
}

.card-deck {
    padding: 1rem;
    width: 18rem;
    height:23.5rem;
}

.photo-item{
    display:flex;
    flex-wrap:wrap;
}

.card-heading-color{
    background-color:#dde2f9
}

.logo{
    font-family:sans-serif;
    font-size: 1.7em;
}

.ngx-pagination{
    margin:1rem;
    text-align: center;
}

.add-post{
    margin-top: 2rem;
    text-align: center;
    color:#2b4251
}