<header></header>
<div class="flex-container">
    <div class="flex-left-wrapper">
        <div class="container">
            <users></users>
        </div>
        <hr>
        <div class="container">
            <users></users>
        </div>
    </div>
    <div class="flex-middle-wrapper">

        <router-outlet></router-outlet>

    </div>
    <div class="flex-right-wrapper">
        <div class="add-post" onclick="alert ()">
            <i class="fa fa-pencil-square fa-2x" aria-hidden="true"></i>
        </div>
    </div>
