<div class="container">
    <div class="card shadow-sm">
        <h5 class="users-title">USERS</h5>
        <div *ngFor="let user of usersList">                                                                                                                                                                                                                                                                          
            <p class="card-text">
                <span class="fa fa-user-circle"></span>  
                {{user.name}}
            </p>
        </div>
    </div>
</div>
