<div class="container">
    <h5 class="users-title">Users</h5>
    <div class="card">
        <div *ngFor="let user of usersList">                                                                                                                                                                                                                                                                          
            <h6 class="card-title">
                <span class="fa fa-user-circle"></span>  
                {{user.name}}
            </h6>
        </div>
    </div>
</div>
